.heroContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 15vh;
  height: 100%;
  z-index: 9999;
}
.heroSection {
  position: relative;
  height: calc(100vh - 68px);
}
.heroImage {
  object-fit: cover;
  background-position: center;
  object-fit: cover;
  z-index: 1;
}
.heroTitle {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
  text-align: center;
  color: var(--white);
  z-index: 9999;
}

.heroDescription {
  margin-top: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: var(--white);
  z-index: 9999;
}

.heroButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 12px;
  margin: 40px auto 0 auto;
  width: 276px;
  height: 44px;
  background-color: var(--light-blue);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: var(--white);
  z-index: 9999;
  text-decoration: none;
}

.heroButton:hover {
  background-color: var(--dark-blue);
}
